.homepage {
  display: flex;
  width: 100%;
  height: 800px; /* 按需调整高度 */
}

.map-section {
  flex: 1;
  /* 其他地图样式 */
  background-color: pink;
}

.data-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px; /* 按需调整间隙 */
  padding: 10px; /* 按需调整内边距 */
  /* 其他样式 */
}

.data-item {
  /* 展示数据的样式 */
}
.data-search {
  margin: 15px 0;
  position: relative;
}

.data-search input {
  width: 50%;
  padding: 10px 15px 10px 35px;
  border-radius: 20px;
  border: 1px solid #d4d4d4;
  font-size: 16px;
  transition: all 0.3s ease;
  outline: none;
  margin-left: 50px;
}

.data-search input:hover {
  border-color: #a2a2a2;
}

.data-search input:focus {
  border-color: #5a5a5a;
}

.data-search::before {
  content: "\1F50D"; /* Unicode character for a search icon */
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  margin-left: 50px;
}
